
.button_modal{
    margin-left: -10%;
}
.submit_button{
    margin-left: 70%;
}

/* .react-simple-star-rating{ */
    /* display: flex !important; */
/* } */

.react-simple-star-rating .empty-icons{
    display: flex !important;
}